*.swp
*.swo
*.swn
*.pyc
*.idea
.DS_Store
*.log
*.sqlite3
*.ini
node_modules/*
/functions/node_modules/*
my_requirements.txt
static/*
build/*
browserify-cache.json
/.cache
!pytest.ini
media/*
site.retry
.env.local
docker-compose-dev.override.yml
**/eraseme*
